<odoo>
    <record id="waran_pharmacy_order_action" model="ir.actions.act_window">
        <field name="name">Pharmacy Orders</field>
        <field name="res_model">waran.pharmacy.order</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="waran_menu_pharmacy"
              name="Pharmacy"
              parent="waran_his_core.waran_menu_root"
              action="waran_his_pharmacy.waran_pharmacy_order_action"
              sequence="40"/>
</odoo>
