<odoo>
    <record id="waran_billing_action" model="ir.actions.act_window">
        <field name="name">Billing</field>
        <field name="res_model">waran.billing</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="waran_menu_billing"
              name="Billing"
              parent="waran_his_core.waran_menu_root"
              action="waran_his_billing.waran_billing_action"
              sequence="20"/>
</odoo>
