<odoo>
    <record id="waran_lab_request_action" model="ir.actions.act_window">
        <field name="name">Lab Requests</field>
        <field name="res_model">waran.lab.request</field>
        <field name="view_mode">tree,form</field>
    </record>

    <menuitem id="waran_menu_lab"
              name="Lab"
              parent="waran_his_core.waran_menu_root"
              action="waran_his_lab.waran_lab_request_action"
              sequence="30"/>
</odoo>
